make/blueprint.json
{
    "name": "BotpressLeads",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 941097,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "BotpressLeads"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "email",
                        "type": "text"
                    },
                    {
                        "name": "subject",
                        "type": "text"
                    },
                    {
                        "name": "message",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2857586
                            },
                            "mapper": {
                                "base": "appBi1L1Lalv6Asvt",
                                "table": "tblbG7OkZxAyWiFdF",
                                "record": {
                                    "fldEjpVXf8yQXKOjJ": "{{1.email}}",
                                    "fldGvPP4woejPlACI": "{{1.message}}",
                                    "fldUUyYQMCPLwHlC4": "{{1.email}}",
                                    "fldYbf3vopZIL3mdb": "{{1.subject}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -300
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Project Management"
                                        },
                                        "table": {
                                            "label": "Leads",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fldUUyYQMCPLwHlC4",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fldcZE0RkGSGoLRB6",
                                                            "type": "select",
                                                            "label": "Status",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Cold",
                                                                    "value": "Cold"
                                                                },
                                                                {
                                                                    "label": "In progress",
                                                                    "value": "In progress"
                                                                },
                                                                {
                                                                    "label": "Already Done",
                                                                    "value": "Already Done"
                                                                },
                                                                {
                                                                    "label": "Done",
                                                                    "value": "Done"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldEjpVXf8yQXKOjJ",
                                                            "type": "text",
                                                            "label": "Email"
                                                        },
                                                        {
                                                            "name": "fld6Usw28T3SaD2Lt",
                                                            "type": "text",
                                                            "label": "Phone"
                                                        },
                                                        {
                                                            "name": "fldYbf3vopZIL3mdb",
                                                            "type": "text",
                                                            "label": "ProjectType"
                                                        },
                                                        {
                                                            "name": "fldGvPP4woejPlACI",
                                                            "type": "text",
                                                            "label": "Brief",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fldrNYj55oiGIKby1",
                                                            "type": "text",
                                                            "label": "BriefDetails",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fldkgcLfYz1SlIxCj",
                                                            "type": "text",
                                                            "label": "Notes",
                                                            "multiline": true
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fldcZE0RkGSGoLRB6": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "Airtablemacaipiotr (User ID: usrFNkHHxkT6OZJb2)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldUUyYQMCPLwHlC4",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldcZE0RkGSGoLRB6",
                                                "type": "select",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "fldEjpVXf8yQXKOjJ",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fld6Usw28T3SaD2Lt",
                                                "type": "text",
                                                "label": "Phone"
                                            },
                                            {
                                                "name": "fldYbf3vopZIL3mdb",
                                                "type": "text",
                                                "label": "ProjectType"
                                            },
                                            {
                                                "name": "fldGvPP4woejPlACI",
                                                "type": "text",
                                                "label": "Brief"
                                            },
                                            {
                                                "name": "fldrNYj55oiGIKby1",
                                                "type": "text",
                                                "label": "BriefDetails"
                                            },
                                            {
                                                "name": "fldkgcLfYz1SlIxCj",
                                                "type": "text",
                                                "label": "Notes"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "AppType",
                                        "type": "text",
                                        "label": "AppType"
                                    },
                                    {
                                        "name": "Brief",
                                        "type": "text",
                                        "label": "Brief",
                                        "multiline": true
                                    },
                                    {
                                        "name": "BriefDetails",
                                        "type": "text",
                                        "label": "BriefDetails",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Phone",
                                        "type": "text",
                                        "label": "Phone"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Notes",
                                        "type": "text",
                                        "label": "Notes",
                                        "multiline": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 3155580
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "piotr@macai.studio"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Client Email: {{1.email}}\nClient Message: {{1.message}}",
                                "subject": "{{1.subject}} from {{1.email}}",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "macaipiotr@gmail (macaipiotr@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 612862
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "1": "{{1.email}}",
                                    "2": "{{1.email}}",
                                    "3": "{{1.subject}}",
                                    "4": "{{1.message}}"
                                },
                                "sheetId": "Arkusz1",
                                "spreadsheetId": "/1DgpZSjFeGdf_kl15Vofjn_O_YYmcnhyZ/1SYkzaXvKSFu4sXX8e_tzQtX-fvynexw3/1I9lYp2gAjeF0RfWuuEteeC5kpVasymrlSJKhVR8cAsk",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Arkusz1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Aiware",
                                                "ClientsProjects",
                                                "Leads"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Potencjalni klienci (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Nazwa (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Email (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "AppType/Subject (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Details / Information (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Etap (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Szac. wartość (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Właściciel relacji (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Prawdopodobieństwo (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Notatki (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (macaipiotr@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Potencjalni klienci (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Nazwa (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Email (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "AppType/Subject (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Details / Information (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Etap (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Szac. wartość (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Właściciel relacji (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Prawdopodobieństwo (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Notatki (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}